<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Storage Permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Untuk Android 11+ -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!-- Network Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Camera Permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Camera Features - TAMBAHKAN INI -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo_school"
        android:label="E-Poin"
        android:roundIcon="@drawable/ic_logo_school"
        android:supportsRtl="true"
        android:theme="@style/Theme.LA"
        tools:targetApi="31">

        <activity
            android:name=".DataKelasActivity"
            android:exported="false" />
        <activity
            android:name=".TambahGuruPiketActivity"
            android:exported="false" />
        <activity
            android:name=".TambahPoinActivity"
            android:exported="false" />
        <activity
            android:name=".JadwalPiketActivity"
            android:exported="false" />
        <activity
            android:name=".EditDataSiswaActivity"
            android:exported="false" />
        <activity
            android:name=".TambahJadwalPiketActivity"
            android:exported="false" />
        <activity
            android:name=".DataJurusanActivity"
            android:exported="false" />
        <activity
            android:name=".DataPoinActivity"
            android:exported="false" />
        <activity
            android:name=".DataGuruPiketActivity"
            android:exported="false" />
        <activity
            android:name=".DataPoinSiswaActivity"
            android:exported="false" />
        <activity
            android:name=".RiwayatLaporanActivity"
            android:exported="false" />
        <activity
            android:name=".PiketHariIniActivity"
            android:exported="false" />
        <activity
            android:name=".TambahLaporanCepatActivity"
            android:exported="false" />
        <activity
            android:name=".TambahDataSiswaActivity"
            android:exported="false" />
        <activity
            android:name=".DataSiswaActivity"
            android:exported="false" />
        <activity
            android:name=".KategoriPoinActivity"
            android:exported="false" />
        <activity
            android:name=".TambahKelasActivity"
            android:exported="false" />
        <activity
            android:name=".LaporanCepatActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardGuruBkActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardSiswaActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardGuruPiketActivity"
            android:exported="false" />
        <activity
            android:name=".DetailPelanggaranActivity"
            android:exported="false" />
        <activity
            android:name=".TambahJurusanActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>